.foods {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 46%;
    align-items: center;
    margin: 0px 5px 25px 5px;
    border: 2px solid grey;
    border-radius: 6px;
    padding: 10px 0 20px 0;
}

.imgFood {
    width: 25%;
}
.namePrice {
    width: 50%;
}

.foods h4 {
    margin: 15px;
}

